.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
.wrapper h1 {
  margin-bottom: 20px;
}
.lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  height: auto;
  gap: 5px;
}
.lists li {
  background-color: #165a72;
  text-align: center;
  color: whitesmoke;
  width: 200px;
  /* height: 40px; */
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
}
a {
  text-decoration: none;
}
