.profile_container {
  position: absolute;
  bottom: 13%;
  left: 0.5%;
  max-width: 150px;
  max-height: 150px;
  /* background-color: red; */
  z-index: 1;
}
.profile_container img {
  /* position: relative; */
  /* max-width: 100%; */
  width: 200px; /* changes made to see effect*/
  height: 200px;
  border-radius: 10%;
  border: 3px solid whitesmoke;
}
.uploadbutton {
  position: absolute;
  font-size: 35px;
  /* top: 50%; */
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -10%);
}

.camera_icon {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}
.profile_container input {
  display: none;
}
.profile_container:hover {
  .camera_icon {
    display: block;
  }
}
@media only screen and (max-width: 540px) {
  .profile_container {
    bottom: 10px;
  }
  .profile_container img {
    width: 150px;
    height: 150px;
  }
}
